@import url("tabs.css");
@import url("header.css");

@font-face {
    font-family: 'SquadaOne';
    src: url('../fonts/squada-one/SQUADAONEREGULAR_2.eot');
    src: url('../fonts/squada-one/SQUADAONEREGULAR_2.eot?#iefix') format('embedded-opentype'),
         url('../fonts/squada-one/SQUADAONEREGULAR_2.woff') format('woff'),
         url('../fonts/squada-one/SQUADAONEREGULAR_2.ttf') format('truetype'),
         url('../fonts/squada-one/SQUADAONEREGULAR_2.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
   }

.clicker{
    background-color: #db0228;
    border-radius: 50%;
    height: 55px;
    /*position: fixed;*/
    width: 55px;
    z-index: 1000;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    right: 14px;
    bottom: 15px;
}
.clicker:before {
    content: '\f067';
    opacity: 1;
    transition: content .4s,transform .4s,opacity .2s;
}
.clicker:after, .clicker:before {
    /*position: absolute;*/
    left: 0;
    width: 100%;
    color: #FFF;
    font-family: FontAwesome;
    font-size: 21px;
    line-height: 55px;
    font-weight: 400;
    transform: rotate3d(0,0,1,-180deg);
}
.clicker.open::before {
    transform: rotate3d(0,0,1,0deg);
    opacity: 0;
}
.clicker.open::after {
    transform: rotate3d(0,0,1,0deg);
    opacity: 1;
}
.clicker:after {
    content: '\f0ae';
    opacity: 0;
    transition: content .4s,transform .4s,opacity .4s;
}
.clicker:after, .clicker:before {
    position: absolute;
    left: 0;
    width: 100%;
    color: #FFF;
    font-family: FontAwesome;
    font-size: 21px;
    line-height: 55px;
    font-weight: 400;
    transform: rotate3d(0,0,1,-180deg);
}


/*orange haeder*/
.orange-header {
	height: 47px;
  width: 100%;
	background-color: #ee7306;
}
.orange-header .orange-ul {
	    text-align: right;
	margin: 0 auto;
}

.orange-header .orange-ul .orange-li {
	font-size: 16px;
	display: inline-block;
	color: #fff;
	padding: 15px;
}
.orange-header .orange-ul .orange-li a {
	color: #fff;
	text-decoration: none;
  font-family: 'Roboto Condensed';
  font-weight: 400;
}

.darkblue-header {
	background: url("images/header_dark_bg.png") repeat;
	height: 90px;
	width: 100%;
}

.darkblue-header .container {
	position: relative;
}

.homepage-logo {
	float: left;
	position: absolute;
	top: -40px;
}

.homepage-logo .teamname {
	margin-left: 20px;
}

.darkblue-header .darkblue-ul {
	float: right;
	margin: 0px;
	list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.darkblue-header .darkblue-ul .darkblue-li {
	font-size: 16px;
	display: inline-block;
	color: #fff;
	padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    cursor: pointer;
}

.darkblue-header .darkblue-ul .darkblue-li:hover {
	background-color: #2f4179;
}

.darkblue-header .darkblue-ul .darkblue-li a {
	color: #fff;
	text-decoration: none;
  font-family: 'SquadaOne';
  font-weight: 400;
  font-size: 28px;
}

.banner {
	background: url("images/banner_bg.jpg");
	height: 610px;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
}

.progress-bar {
	height: 69px;
  	width: 100%;
	background-color: #ee7306;
}

.progress-bar .progress-ul {
	margin: 0px;
	list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.progress-bar .progress-ul .progress-li {
	font-size: 16px;
	display: inline-block;
	padding-right: 20px;
    padding-left: 20px;
    padding-top: 24px;
    cursor: pointer;
}

.progress-bar .progress-ul .progress-li a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  margin-right: 120px;
}

.content {
	background-color: #1c1947;
	overflow: hidden;
}

.content .player-image1{
  height: 100%;
  width: 100%;
  margin-top: 100px;
}

.content .content-holder h1 {
	 margin: 0px;
	 list-style-type: none;
    padding: 0;
    overflow: hidden;
    font-size: 30px;
    color: #fff;
    font-family: 'SquadaOne';
    font-weight: 400;
    font-size: 38px;
    padding-top: 50px;
}

.content-holder a{
  text-decoration: none;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  color: #fff;
  font-size: 28px;
}


.featured-entries {
	width: 100%;
	height: 100%;
  padding-bottom: 45px;
}

.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.type1 {
    width: 60px;
    height: 60px;
    background: #ee7306;
}

.circle1 {
	margin-top: 100px;
	text-align: center;
}

.circle2 {
	margin-top: 70px;
	text-align: center;
}

.circle1 img{
	padding-top: 8px;
}

.circle2 img{
	padding-top: 15px;
}

.participate {
  background: url("images/participate.png") no-repeat;
  margin-top: 30px;
  height: 100px;
  width: 100%;
  margin-left: 100px;
  padding-top: 4px;
}

.participate h2{
  color: #fff;
  font-weight: normal;
  overflow: hidden;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 28px;
  margin-right: 180px;
}


.featured-placeholder {
  background: url("images/featured-entries.png") no-repeat;
  margin-top: 20px;
  height: 100px;
  padding-left: 60px;
}

.featured-placeholder h2{
  color: #fff;
  font-weight: normal;
  overflow: hidden;
  font-family: 'SquadaOne';
  font-weight: 400;
  font-size: 30px;
  padding-top: 15px;
}

.footer1{
  height: 230px;
  width:100%;
  background-color: #1c1947;
  text-align: center;
  padding-top: 40px;
}

.footer2{
  height: 60px;
  width:100%;
  background-color: #ee7306;
  text-align: center;
  padding-top: 20px;
}

.more-button{
  margin-top: 68px;
  height:52px;
  max-width:292px;
  background-color: #ee7306;
  text-align: center;
  padding-top: 10px;
}

.more-button a{
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
   font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 22px;
  cursor: pointer;
  text-decoration: none;
}

.more-button a:hover{
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.footername{
  margin-left: 20px;
}

.icons{
  padding-top: 35px;
}

.icons img{
  margin-left: 20px;
}

.footer-link{
  display: inline-block;
  padding-right: 10px;
  border-right: 1px solid #fff;
}

.footer-link-last{
  display: inline-block;
  padding-right: 10px;
}

.footer2 a{
  margin-left: 10px;
  color: #fff;
   font-family: 'Roboto Condensed';
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
}

.footer2 a:hover{
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

#expand-entries{
  display: none;
}

#expand-entries1{
  display: none;
}

#expand-entries2{
  display: none;
}

.featured-entries img{
  width:100%;
  margin-top: 26px;
}

.hide-button{
  display: none;
  margin-top: 68px;
  height:52px;
  max-width:292px;
  background-color: #ee7306;
  text-align: center;
  padding-top: 10px;
}

.hide-button a{
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
   font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 22px;
  cursor: pointer;
  text-decoration: none;
}

.hide-button a:hover{
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.slogan{
  padding-top: 100px;
}

.slogan h2{
  color: #fff;
  text-decoration: none;
  font-family: 'SquadaOne';
  font-weight: 400;
  font-size: 90px;
  line-height: 90%
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 1200px) {

.submit-button{
  margin: 0 auto;
}

#player-image2{
  display: block;
  height: 100%;
  width: 100%;
}

.slogan h2{
  font-size: 65px;
  margin-top: 80px;
}

.desktop-menu {
  display: none;
}

.mobile-menu {
  display: block;
}

.menu-tabs-mobile {
  display: none;
}

#nav-icon2 {
      width: 40px;
      height: 25px;
      position: relative;
      float: right;
      margin: 34px 20px 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      // -webkit-transition: .5s ease-in-out;
      // -moz-transition: .5s ease-in-out;
      // -o-transition: .5s ease-in-out;
      // transition: .5s ease-in-out;
      cursor: pointer;
    }
  }
  #nav-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #fff;
  opacity: 1;
  float: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 8px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 16px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 2px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 2px;
  top: 20px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 20px;
}
}

.text-area{

}

input[type="text"] {
   height: 55px;
   border-radius: 0px;
   font-family: "Roboto Condensed";
   font-weight: 400;
   font-size: 24px;
   font-style: italic;
   margin-bottom: 25px;
}

label{
  color: #fff;
  font-family: "Roboto Condensed";
   font-weight: 400;
   font-size: 22px;
}

input[type="checkbox"] {
   height: 21px;
   width: 30px;
}

#text-area{
  margin-top: 100px;
    height: 110px;
   border-radius: 0px;
   font-family: "Roboto Condensed";
   font-weight: 400;
   font-size: 24px;
   font-style: italic;
   resize:none;
   margin-bottom: 25px;
}

.submit-button{
  margin-top: 10px;
  margin-bottom: 15px;
  height:52px;
  max-width:292px;
  background-color: #ee7306;
  text-align: center;
  padding-top: 10px;
}

input#submit{
  background:none;
  border:none;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
   font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 21px;
  cursor: pointer;
  text-decoration: none;
}

.content h1{
  font-size: 68px;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 10px;
}
